@use 'reset' as *;
@use 'colors' as *;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	background-color: var(--background);
}

.container {
	display: flex;
	gap: 10px;
	padding: 10px;
	width: 100%;
	max-width: 1200px;
	height: 70vh;

	section {
		background-color: var(--white);
		border-radius: 8px;
		box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.2);
	}

	.drawing-board {
		flex: 1;
		cursor: crosshair;
	}

	.tools-board {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		padding: 15px 20px 0;
		width: clamp(145px, 18vw, 210px);

		.row {
			margin-bottom: 15px;

			.options {
				margin: 10px 0 0 5px;
				list-style: none;

				.option {
					display: flex;
					align-items: center;
					margin-bottom: 10px;

					&:where(span, label) {
						padding: 10px;
						color: #333;
					}

					input {
						cursor: pointer;
					}

					img {
						width: 20px;
					}

					#size-slider {
						width: 100%;
					}
				}
			}
		}
	}
}
